$blockColor : white;
@mixin flex-center{
    display: flex;
    justify-content: center;
}
.button {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid $blockColor;
    font: 400 16px Roboto;
    @include flex-center;
    background-color: $blockColor;
    align-items: center;
}
.active {
   width: 32px;
    height: 32px;
    font: 400 16px Roboto;
    border: 1px solid $blockColor;
    @include flex-center;
    align-items: center;
    background-color: rgb(181, 181, 233);
}