.info{
    max-width: 773px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 235, 237, 1);
    border-radius: 12px;
    padding: 24px;
    div{
        color: rgba(35, 33, 52, 1);
        h1{
            font:700 20px Inter;
            margin-bottom: 16px;
        }
        li{
            font:400 16px Inter;
            margin-bottom: 3px;
        }
    }
    .req{
        margin: 20px 0;
    }
}