$mainFontStyle : 'Inter';
$buttonAndTitleColor: rgba(94, 150, 252, 1);
$blockColor : white;
.block{
    max-width: 773px;
    border: 1px solid $blockColor;
    background-color: $blockColor;
    padding: 24px;
    margin: 24px auto;
    border-radius: 12px;
    a{
        text-decoration: none;
        p{
            font:700 25px $mainFontStyle;
            color: rgba(35, 33, 52, 1);
        }
    }
    div.info{
        display: flex;
        gap: 12px;
        margin: 17px 0;
        color: rgba(35, 33, 52, 1);
        p.salary{
            font:700 20px $mainFontStyle;
        }
        p.dot{
            text-align: center;
            font: 400 20px Poppins;
            color: rgba(123, 124, 136, 1);
        }
        p.workDay{
            font:400 20px $mainFontStyle;
        }
    }
    .location{
        display: flex;
        gap:5px;
        font:400 16px $mainFontStyle;
    }
}